
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <InputFile class="form-control" OnChange="@LoadFiles">
                Datei Auswählen
            </InputFile>
        </div>
    </div>
</div>


