.stepper[b-3bjerol6er]{
    display: flex;
    align-items: center;
    justify-content: center;
}

.step[b-3bjerol6er]{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
    font-size: 20px;
}

.step button[b-3bjerol6er]{
    border: 1px;
    border-style: solid;
    border-radius: 50%;
    padding: 30px;
}